<?xml version="1.0"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" backupGlobals="false" bootstrap="bootstrap/bootstrap.php"
         colors="true" extensionsDirectory="tools/phpunit.d/" processIsolation="false" stopOnError="false"
         stopOnFailure="false" stopOnIncomplete="false" stopOnRisky="false" stopOnSkipped="false"
         timeoutForLargeTests="60" timeoutForMediumTests="10" timeoutForSmallTests="1"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.3/phpunit.xsd" cacheDirectory=".phpunit.cache"
         backupStaticProperties="false" requireCoverageMetadata="false">
    <coverage cacheDirectory="./build/cache"
              pathCoverage="false"
              ignoreDeprecatedCodeUnits="true"
              disableCodeCoverageIgnore="true">
        <report>
            <clover outputFile="coverage.xml"/>
            <html outputDirectory="./build/logs/coverage"/>
        </report>
    </coverage>
    <testsuite name="all">
        <directory suffix="Test.php">tests/unit</directory>
    </testsuite>
    <logging/>
    <source>
        <include>
            <directory suffix=".php">./src/</directory>
        </include>
    </source>
</phpunit>
